:root {
        --color-primary: hsl(211, 100%, 6%);
        --color-secondary: hsl(211, 100%, 13%);
        --color-header: hsl(211, 100%, 9%);
        --color-text: hsl(211, 100%, 95%);
        --color-accent: hsl(240, 80%, 80%);
        --color-tertiary: hsl(0, 96%, 70%);
        --color-correct: hsl(162, 91%, 29%);
        --color-incorrect: hsl(349, 79%, 37%);
    }
    
.light {
        --color-primary: hsl(300, 50%, 90%);
        --color-text: hsl(300, 50%, 10%);
        --color-tertiary: hsl(360, 80%, 20%);
        --color-accent: hsl(240, 80%, 20%);
    }

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", "verdana";
    box-sizing: border-box;
    color: var(--color-text);
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 10px;
  border: 3px var(--color-text);
}

.in-text-anchor{
    color: var(--color-accent);
}

/*  Header  */
header{
    background-color: var(--color-header);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 0px var(--color-primary);
    z-index: 1;
}

.header-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
    list-style-type: none;
}

/* Home */
.title-container {
    justify-self: center;
    font-size: 3.5vw;
    font-style: italic;
    margin: 30px;
}

/* Gamemode */
.select-gamemode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamemode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-header);
    width: 300px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;

    border-style: solid;
    border-width: 3px;
    border-color: var(--color-text);
    border-radius: 1vw;
}

.gamemode-container:hover {
  transform: scale(1.05);
}

.header-nav label:hover{
    cursor: pointer;
}

/* Classic Gamemode */
.input-guess-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    background-color: var(--color-header);


    border-style: solid;
    border-width: 2px;
    border-radius: 10px;


    margin-top: 50px;
    width: 500px;
    height: 300px;
}

.classic-underline{
    border: 2px solid white;
    width: 870px;
    justify-self: center;
}

.input-guess-container input{
    color: var(--color-header);
    padding: 10px;
    width: 250px;
    
}

.classic-guess-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.classic-guess-slot-container {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;

    font-size: 12px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-color: var(--color-text);
    position: relative;
}

.classic-slot-arrow-up {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 33px;
    transform: rotate(90deg);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid hsl(349, 79%, 29%);
}

.classic-slot-background {
    position: absolute;
    z-index: -2;
    width: 100px;
    height: 100px;
}

.classic-slot-arrow-body-up{
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 33px;
    width: 30px;
    height: 40px;
    background-color: hsl(349, 79%, 29%);
}

.classic-slot-arrow-body-down{
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 33px;
    width: 30px;
    height: 40px;
    background-color: hsl(349, 79%, 29%);
}

.classic-slot-arrow-down {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 33px;
    transform: rotate(270deg);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid hsl(349, 79%, 29%);
}

.classic-Info-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.classic-Info-description h3{
    text-decoration: underline;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Quote Gamemode */
.selected-guess-container {
    display: flex;
    flex-direction: column;

    justify-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    
    margin: 10px;
    border: 2px solid var(--color-text);
    border-radius: 10px;

    background-color: var(--color-header);
    height: 150px;
    width: 300px;
}

.selected-guess-container h3{
    color: var(--color-accent);
}

.arrow {
    justify-self: center;
    
    width: 0; 
    height: 0; 

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid var(--color-text)
}

.guess-container {
    background-color: var(--color-header);
    justify-self: center;
    width: 300px;
    height: 100px;
    border: 2px solid var(--color-text);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Login Screen */
.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
}

.login-title-container {
    margin-top: 250px;
    flex-wrap: wrap;
    width: 550px;
}

.login-title-container label{
    font-size: 40px;
}

.login-title-container p{
    color: var(--color-tertiary);
    padding-bottom: 100px;
}

.login-fill-form {
    align-self: center;
    border-radius: 1vw;
    background-color: var(--color-header);
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    height: 100%;
    width: 25vw;
    padding: 40px;
    margin-top: 30vh;
    overflow: scroll;
}

.login-fill-form h3{
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
}

.login-submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.login-submit-container button{
    width: 75px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding: 3px;
    color: black;
}

.login-fill-form p{
    font-size: 15px;
}

.login-sign-up-link {
    color: var(--color-tertiary);
}

.login-fill-form input{
    margin-bottom: 10px;
    padding: 10px;

    color: black;
}

/* Leaderboard */
.leaderboard-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    justify-self: center;
}

.leaderboard-user-container {
    border-top-right-radius: 0.5vw;
    border-top-left-radius: 0.5vw;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: hsl(211, 100%, 20%);
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 40px;
    width: 100%;
}

.leaderboard-board-container {
    background-color: var(--color-header);
    height: 550px;
    width: 100%;
    overflow: scroll;
}

.leaderboard-user-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
}

.leaderboard-user-slot h3{
    margin-left: 40px;
    margin-right: 40px;
    font-weight: normal;
}

/* Leaderboard */

.victory-container {
    margin: 30px;
    height: 330px;
    width: 450px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 1vw;
}

.victory-container h3 {
    margin-top: 30px;
    font-weight: normal;
}

.victory-container-header {
    margin-top: 30px;
    color: var(--color-tertiary);
}

.victory-container-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-header);
    width: 300px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;

    border-style: solid;
    border-width: 3px;
    border-color: var(--color-text);
    border-radius: 1vw;
}

.victory-container-restart:hover {
    transform: scale(1.05);
    cursor: pointer;
}